@{
    ViewData["Title"] = "Reservas Page";
}

<div class="text-center">
    <h1 class="display-3 text-primary">Reservas</h1>
    <p class="text-secondary">Aquí se realizarán las reservas.</p>
</div>
