@model List<Servicio>

<div class="text-center">
    <h1 class="display-3 text-primary">Servicios</h1>
    <p class="text-secondary">En ésta página podrás gestionar tus servicios</p>
</div>

<a asp-action="Create" class="btn btn-primary">Nuevo Servicio</a>

<div class="row mt-3">
    @foreach (var servicio in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
            <div class="card">
                <div class="text">
                    <span>@servicio.Nombre</span>
                    <p class="subtitle">@servicio.Descripcion</p>
                </div>
                <div class="icons">
                    <a class="button" href="#">
                        <i class="fa-solid fa-pen svg-icon"></i>
                    </a>
                    <a class="button" href="#">
                        <i class="fa-solid fa-info svg-icon"></i>
                    </a>
                    <a class="button" href="#">
                        <i class="fa-solid fa-trash-can svg-icon"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>





<style>
    .card {
    width: 250px;
    height: auto;
    border-radius: 15px;
    background: #dc8a3e;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin: 15px;
        transition: all .5s ease;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card::before {
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    top: -40%;
    left: -20%;
    border-radius: 50%;
    border: 35px solid rgba(255, 255, 255, 0.102);
    transition: all .8s ease;
    filter: blur(.5rem);
    }

    .text {
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 900;
    font-size: 1.2em;
    }

    .subtitle {
        margin-top: 3px;
    font-size: .8em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
    }

    .icons {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 250px;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
    }

    .button {
    border: none;
    width: 84px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
        transition: all .5s ease;
        text-decoration: none;
    }

    .svg-icon {
        font-size: 1em;
        color: white;
    }

    .button:hover {
    background-color: rgb(255, 255, 255);
    }

    .button:hover .svg-icon {
        color: #dc8a3e;
    }

    .card:hover::before {
    width: 140px;
    height: 140px;
    top: -30%;
    left: 50%;
    filter: blur(0rem);
    }
</style>